:root.theme-dark {
  --bg-color: var(--bg-color-dark);
  --accept-text-color: var(--accept-text-color-dark);
  --accent-color: var(--accent-color-dark);
  --text-color: var(--text-color-dark);
  --title-color: var(--title-color-dark);
  --main-content_title: var(--main-content_title-dark);
  --accept-bg-color: var(--accept-bg-color-dark);
  --title_shadow-color: var(--title_shadow-color-dark);
  --bg-image: var(--bg-image-dark);
  --hover-color: var(--hover-color-dark);
}