:root.theme-dark {
  --bg-color: #000028;
  --accept-text-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --main-content_title: #ff0070;
  --accept-bg-color: #ff0070;
  --title_shadow-color: #ff0070;
  --bg-image: url('../images/cover-image-dark.png');
  --hover-color: rgba(255, 0, 112, 0.4);
}